* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiAvatar-root {
    width: 27px !important;
    height: 27px !important;
    background-color: white;
    color: white;
    border: 1px solid gray;
}

.MuiAvatar-colorDefault {
    color: gray;
    background-color: white !important;
}

.MuiSvgIcon-root {
    color: gray;
}

.carousel {
    background-color: #f3f3f3;
}

.carousel-span {
    background-color: #f3f3f3;
    height: 100%;
}

.carousel-span-2 {
    background-color: #e7e7e7;
    margin: 0;
    border: 1px solid #e7e7e7;
    height: 100%;
}

.item {
    width: 184px;
}

.button-carousel p {
    transition: all 0.3s ease-in-out;
}

.button-carousel .MuiSvgIcon-root {
    color: white !important;
    transition: all 0.3s ease-in-out;
}

.button-carousel:hover p {
    border-bottom: 1px solid white;
}

.button-carousel:hover .MuiSvgIcon-root {
    margin-left: 6px;
}

.react-multi-carousel-dot {
    height: 30px;
}

.react-multi-carousel-dot button {
    display: inline-block;
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    transition: background .5s;
    border: 1px solid black !important;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    outline: 0;
    cursor: pointer;
}

.itemslol {
    height: 400px;
}

/* Links */
.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
  }
  
  .links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .links li {
    line-height: 2.8;
  }
  
  /* Footer */
  .footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
  }
  
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .footer div i {
    margin-right: 10px;
  }
  
  .footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer li {
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
  @media(max-width: 700px) {
    .menu-btn {
      display: block;
    }
  
    .menu-btn:hover {
      opacity: 0.5;
    }
  
    .main-nav ul.right-menu {
      margin-right: 50px;
    }
  
    .main-nav ul.main-menu {
      display: block;
      position: absolute;
      top:0;
      left: 0;
      background: #f2f2f2;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
    }
  
    .main-nav ul.main-menu li {
      padding: 10px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
  
    .main-nav ul.main-menu li:last-child {
      border-bottom: 0;
    }
  
    .main-nav ul.main-menu.show {
      transform: translateX(-20px);
    }
  
    .home-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .xbox .content p {
      display: none;
    }
  
    .xbox .content h2 {
      margin-bottom: 20px;
    }
  
    .carbon .content {
      width: 85%;
    }
  
    .links .links-inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(max-width: 500px) {
    .home-cards {
      grid-template-columns: 1fr;
    }
  
    .links .links-inner {
      grid-template-columns: 1fr;
    }
  
    .links .links-inner ul {
      margin-bottom: 20px;
    }
  }