* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiAvatar-root {
    width: 27px !important;
    height: 27px !important;
    background-color: white;
    color: white;
    border: 1px solid gray;
}

.MuiAvatar-colorDefault {
    color: gray;
    background-color: white !important;
}

.MuiSvgIcon-root {
    color: gray;
}