* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiAvatar-root {
    width: 27px !important;
    height: 27px !important;
    background-color: white;
    color: white;
    border: 1px solid gray;
}

.MuiAvatar-colorDefault {
    color: gray;
    background-color: white !important;
}

.MuiSvgIcon-root {
    color: gray;
}

.carousel {
    background-color: #f3f3f3;
}

.carousel-span {
    background-color: #f3f3f3;
    height: 100%;
}

.carousel-span-2 {
    background-color: #e7e7e7;
    margin: 0;
    border: 1px solid #e7e7e7;
    height: 100%;
}

.height-carousel {
    height: 58vh;
}

.item {
    width: 184px;
}

.button-carousel p {
    transition: all 0.3s ease-in-out;
}

.button-carousel .MuiSvgIcon-root {
    color: white !important;
    transition: all 0.3s ease-in-out;
}

.button-carousel:hover p {
    border-bottom: 1px solid white;
}

.button-carousel:hover .MuiSvgIcon-root {
    margin-left: 6px;
}

.react-multi-carousel-dot {
    height: 30px;
}

.react-multi-carousel-dot button {
    display: inline-block;
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    transition: background .5s;
    border: 1px solid black !important;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    outline: 0;
    cursor: pointer;
}

.itemslol {
    height: 400px;
}