# This is a basic workflow to help you get started with Actions

name: Deploy to gh-pages

# Controls when the action will run. 
on:
 	push:
    branches: [ master ]
  workflow_dispatch:
	jobs:
		build:
			runs-on: ubuntu-latest
			steps:
				- uses: actions/checkout@v2
				- name: Install
					run: yarn ci
					
				- name: Lint
					run: yarn lint:fix
				
				- name: Build
					run: yarn build
